In [1]:
#Link to original document: https://jakevdp.github.io/WhirlwindTourOfPython/index.html 
#Required reading was for Chapters 3-9

# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = [] #note that the ; terminates the code early. 

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [10]:
total = 0 
for i in range(100):
    total = total + i
print(total) #sum of numbers between 0 and 99

4950

In [13]:
x=2
if x<4: #actually works: if x is less than 4, it will be printed.
    y=x*2
    print(x)

x=5
if x<4: #doesn't run since if is not satisfied. 
    y=x*2
    print(y)

2

In [15]:
x=2
if x<4: #this prints x regardless. 
    y=x*2
print(x)

x=5
if x<4: #this also prints x regardless. 
    y=x*2
print(x)

2
5

In [16]:
x += 2  # shorthand for x = x + 2

#whitespace does not matter. All of the following denote x as 3. 
x=1+2
print(x)
x = 1 + 2
print(x)
x             =        1    +                2
print(x)

3
3
3

In [17]:
#sometimes the indentation/white space can be useful: 
x=10**-2
x = 10 ** -2 #easier to see that this is 10

In [20]:
x=4 #essentially assigns a pointer named x to the value 4.  

x = 5         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

In [21]:
y = x #y points to x. 
print(y) #prints the list [1,2,3] since y points to x which points to it's designated list. 

x.append(4)
print(x) #now prints [1,2,3,4]
print(y) #also prints [1,2,3,4]!

#and funnily enough, if you set x as a new value like a string:

x = 'something else'
print(y)  # y is unchanged. still outputs [1,2,3,4]

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [22]:
#It's important to note that variable assignment is immutable. 
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x) #prints x=15
print("y =", y) #prints y=10

x = 15
y = 10

In [24]:
x = 4
type(x) #x is a integer (int)

int

In [25]:
x = 'hello' 
type(x) #x is a string

str

In [26]:
x = 3.14159
type(x) #x is a floating

float

In [27]:
L = [1, 2, 3]
L.append(100)
print(L) #L is now [1,2,3,100]

[1, 2, 3, 100]

In [29]:
x = 4.5
print(x.real, "+", x.imag, 'i') #output is 4.5 +0.0i, which makes sense since there is no imaginary part to the x value.

4.5 + 0.0 i

In [30]:
x = 4.5
x.is_integer() #4.5 is not an integer. This is False.

False

In [31]:
x = 4.0
x.is_integer() #4.0 is an integer. This is True.

True

In [32]:
type(x.is_integer) #Output is: builtin_function_or_method

builtin_function_or_method

In [226]:
(4 + 8) * (6.5 - 3) #output is 42.0

42.0

In [227]:
11/2 #True division. Output is 5.5

5.5

In [35]:
11//2 #Floor division. Output is 5.

5

In [ ]:
#matrix operation: a@b does a matrix product of a, b

#a & b	Bitwise AND	Bits defined in both a and b
#a | b	Bitwise OR	Bits defined in a or b or both
#a ^ b	Bitwise XOR	Bits defined in a or b but not both
#a << b	Bit shift left	Shift bits of a left by b units
#a >> b	Bit shift right	Shift bits of a right by b units
#~a	Bitwise NOT	Bitwise negation of a

# << multiplies the decimal value by 2
# >> divides the decimal value by 2

In [64]:
6 << 1 #output is 12. 6 in binary is 0b110, 12 in binary is 0b1100

12

In [65]:
6 << 2 #output is 24. 6 in binary is 0b110, 24 in binary is 0b11000

24

In [66]:
6 >> 1 #output is 3. 6 in binary is 0b110, 3 in binary is 0b11

3

In [67]:
6 >> 2 #output is 0b1 which is 2

1

In [68]:
6 >> 3 #output is 0b0 which is 0

0

In [69]:
6 >>4 #can't go any further. this is still expected to be 0.

0

In [70]:
6<<5 #0b110 becomes 0b11000000 which is 192.

192

In [36]:
~0 #bitwise negation. Multiply the number by 1 and subtract it by 1. 0*-1 -1 is -1

-1

In [37]:
~6 #6(-1)-1 =-7

-7

In [39]:
~-6#-6(-1)-1 =5

5

In [40]:
bin(10)

'0b1010'

In [42]:
bin(4)

'0b100'

In [43]:
bin(14)

'0b1110'

In [44]:
4|10

14

In [45]:
4 & 10 #100 and 1010 have no common 1s place. Output is 0.

0

In [46]:
2 & 3 #10 and 11 have an intersection at 10; output is 2.

2

In [47]:
5 & 6 #101 and #110 have an intersection at 100; output is 4.

4

In [48]:
4 | 5 #100 and 101 when overlapped produce 101 which is 5. Output is 5.

5

In [71]:
#prove an integer is odd

#Is 25 odd? 
25 % 2 ==1 #Output is True, implying the value is odd.

True

In [72]:
#Is 66 odd? 
66 % 2 ==1 #Output is False, implying the value is not odd (even.)

False

In [73]:
a=25
15<a<30 #output is True.

True

In [74]:
-1 == ~0 #output is true since bitwise NOT of 0 is -1.

True

In [76]:
1 in [1,2,3] #output is True

True

In [77]:
2 not in [1,2,3] #output is False

False

In [78]:
###Integers


#int, float, complex, bool, str, None simple values/scalar types.


x=1
type(x) #output is int

int

In [79]:
2 **200 #output is 2^200, a big ass number, or 1606938044258990275541962092341162602522202993782792835301376

1606938044258990275541962092341162602522202993782792835301376

In [80]:
5/2 #output is 2.5; fun fact: this used to be 2 in Python2.

2.5

In [81]:
5//2 #output is 2 (floor division.)

2

In [82]:
#Floating Numbers: 
#can be written in decimal form or exponential form
x = 0.000005 #decimal form
y = 5e-6 #exponential form
print(x == y) #output is True

True

In [1]:
#similarly this. Interesting thing to note is that despite the extra .00, they are still equivalent. 
#Python most likely writes both of these as floating integers up to the same decimal point and checks to see if they match. 

x = 1400000.00
y = 1.4e6 
print(x == y)

True

In [83]:
float(1) #converts an int to floating

1.0

In [51]:
type(11/2)

float

In [52]:
type(11//2)

int

In [53]:
print("0.1 = {0:.17f}".format(0.1)) #output is "0.1 = 0.10000000000000001" to the 17th decimal
print("0.2 = {0:.17f}".format(0.2)) #output is "0.2 = 0.20000000000000001" to the 17th decimal
print("0.3 = {0:.17f}".format(0.3)) #output is "0.3 = 0.29999999999999999" to the 17th decimal
print("0.4 = {0:.17f}".format(0.4)) #output is "0.4 = 0.40000000000000002" to the 17th decimal.
print("0.5 = {0:.17f}".format(0.5)) #output is "0.5 = 0.50000000000000000" to the 17th decimal. 
print("0.6 = {0:.17f}".format(0.6)) #output is "0.6 = 0.59999999999999998" to the 17th decimal. 
print("0.7 = {0:.17f}".format(0.7)) #output is "0.7 = 0.69999999999999996"
print("0.8 = {0:.17f}".format(0.8)) #output is "0.8 = 0.80000000000000004" to the 17th decimal. 
print("0.9 = {0:.17f}".format(0.9)) #output is "0.9 = 0.90000000000000002" to the 17th decimal. 
print("1.0 = {0:.17f}".format(1.0)) #output is "1.0 = 1.00000000000000000" to the 17th decimal.

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999
0.4 = 0.40000000000000002
0.5 = 0.50000000000000000
0.6 = 0.59999999999999998
0.7 = 0.69999999999999996
0.8 = 0.80000000000000004
0.9 = 0.90000000000000002
1.0 = 1.00000000000000000

In [55]:
0.2 +0.3 == 0.5 #since the floating values up to this point will match each other perfectly for 0.5

True

In [84]:
#binary of 1/8 = 0.001

In [85]:
#binary of 1/3 = 0.0101010101...

In [ ]:
#binary of 1/10 = 0.00011001100110011

In [88]:
complex(1,2) #output is 1 +2j

(1+2j)

In [89]:
c=3+4j
c.real #output is 3.0

3.0

In [90]:
c.imag #output is 4.0

4.0

In [91]:
c.conjugate() #output is 3-4j

(3-4j)

In [92]:
abs(c) #output is sqrt(c.real**2 + c.imag **2) = sqrt(9+16)= 5.0

5.0

In [93]:
message = "what do you like?"
response = 'spam'
len(response) #output is 4

4

In [94]:
response.upper() #output is 'SPAM'

'SPAM'

In [95]:
message.capitalize() #output is "What do you like?". Interesting thing to note: the "" becomes ''

'What do you like?'

In [96]:
message + response   # 'what do you like?spam'

'what do you like?spam'

In [97]:
5 * response #Output is 'spamspamspamspamspam'

'spamspamspamspamspam'

In [63]:
L[::-1]

[11, 7, 5, 3, 2]

In [98]:
message[0] #output is 'w'

'w'

In [99]:
type(None) #<class 'NoneType' in terminal> Output here is: NoneType

NoneType

In [228]:
#Interesting to note: 

return_value = print("abc") #Output is abc

abc

In [229]:
type(return_value) #Output is None (NoneType in Jupyter.) return_value is not assigned any value.

NoneType

In [103]:
#Boolean Operations

result = 4<5
result #output is True

True

In [104]:
type(result) #Output is <class 'bool'>

bool

In [105]:
bool(2014) #output is True always as long as the number inside isn't 0.

True

In [106]:
bool(0) #output is False

False

In [107]:
bool(3.14159) #output is True

True

In [108]:
bool(None) #output is False. Note that None i

False

In [109]:
bool("") #Output is False for empty strings, but True for filled in strings.

False

In [110]:
bool("abc") #Output is True.

True

In [111]:
bool([1,2,3]) #output is True

True

In [112]:
bool([]) #output is False

False

In [113]:
###Built In Data Structures

#lists[1,2,3], tuples are immutable(1,2,3), dictionaries{'a':1, 'b':2, 'c':3}, sets {1, 2, 3}


#lists and tuples are ordered
#sets contain unique values


L = [2,3,5,7]
len(L) #Output is 4

4

In [114]:
L.append(11)
L #Output is [2,3,5,7,11]. Note that print(L) does does the same as L.

[2, 3, 5, 7, 11]

In [115]:
L + [13, 17, 19] #Output is [2, 3, 5, 7, 11, 13, 17, 19].

[2, 3, 5, 7, 11, 13, 17, 19]

In [116]:
L = [2, 5, 1, 6, 3, 4]
L.sort()
L #Output is [1,2,3,4,5,6]. Note that the sort does not automatically print the sorted list.

[1, 2, 3, 4, 5, 6]

In [117]:
L = [1, 'two', 3.14, [0, 3, 5]] #lists are very flexible. you can have ints, strings, floats, and other lists. 
L

[1, 'two', 3.14, [0, 3, 5]]

In [145]:
L=[2,3,5,7,11]
#RECALL THE IMAGE OF 2,3,5,7,11 FOR INDICIES. 
#0 at the top left. accesses the square down and right to it. 
#-1 at the last element's bottom left. accesses the square to the up and right of it.
L[0] #Output is 2

2

In [120]:
L[1] #Output is 3

3

In [121]:
L[-1] #Output is 11. This goes backwards.

11

In [122]:
L[-2] #Output is 7. This goes back 2.

7

In [124]:
L[0:3] #Output is [2,3,5]. 
#Remember the visualization (keep the index at the top left of the item in the list. 
#Bottom left for negative indices.

[2, 3, 5]

In [125]:
L[:3] #Output is [2,3,5]

[2, 3, 5]

In [126]:
L[-3:] #Output is [5,7,11]

[5, 7, 11]

In [127]:
L[::2] #equivalent to L[0:len(L):2]. THIS ONE SKIPS. Starts from 0th index and goes to every other value. 
#L[0:5:2] is the equivalent, shown on the following line.

[2, 5, 11]

In [132]:
L[0:5:2]

[2, 5, 11]

In [147]:
L[::-1] #equivalent to L[0:len(L):-1] or L[0:5:-1]. From start to end going backwards. This reverses the list. 
#Output is [11,7,5,3,2]

[11, 7, 5, 3, 2]

In [134]:
L[0] = 100 #replaces the first value with 100
L #Output is [2,3,5,7,11]

[100, 3, 5, 7, 11]

In [135]:

#Can also be done on many ranges. This is called slicing.  

L[1:3] = [55, 56]
print(L) #Output is [100,55,56,7,11]

[100, 55, 56, 7, 11]

In [136]:
#Tuples
t=(1,2,3) #can also be done without the ()
print(t)

(1, 2, 3)

In [137]:
t=1,2,3 
print(t) #output will be (1,2,3)

(1, 2, 3)

In [138]:
len(t) #output is 3

3

In [139]:
#Indexing is the same as lists. t[i]
t[0] #output is 1

1

In [140]:
#But these values cannot be reassigned. Once a tuple is set, it is set. 

t[1]=4 #Output is a TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [141]:
t.append(4) #Output is an AttributeError: 'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

In [142]:
#How are tuples useful? They can be useful when there are multiple return values. 
#they are useful in certain python functions. a great one is as_integer_ratio():
x = 0.125
x.as_integer_ratio()

(1, 8)

In [143]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [ ]:
#Other useful info on data structures can be found here: https://docs.python.org/3/tutorial/datastructures.html

In [152]:
numbers = {'one':1, 'two':2, 'three':3} #numbers is now a dictionary
numbers['two'] #Finds the word 'two', and gives its definition 2. Output is 2

2

In [153]:
# You can add to the dictionary by simply doing this: 
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [150]:
#You can also change the values of them by reassignment. numbers['ninety'] = 89 will change the value.

In [154]:
#note the lack of order; this is useful for implementing the values/random access is fast. 
#Recall back to hash tables/functions if you are curious.

In [156]:
##Sets (Recall how they are useful in Set Theory) 
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
primes | odds #output is the union of the sets. In this case: {1, 2, 3, 5, 7, 9}
primes.union(odds) #is a similar output.

{1, 2, 3, 5, 7, 9}

In [157]:
primes & odds  #recall that & is and. This finds the intersection of the sets. In this case: {3,5,7}
primes.intersection(odds)

{3, 5, 7}

In [158]:
primes - odds #a set with the primes without odds (here, this removes 3,5,7.) In this case: {2}
primes.difference(odds)

{2}

In [160]:
primes ^ odds #XOR: values that are in one set but not the other. In this case: {1,2,9}
primes.symmetric_difference(odds)

{1, 2, 9}

In [161]:
#More on XOR:
2 ^ 3 #10 and 11. The second 1 for the bin(3) is in 1 number but not the other.

1

In [162]:
4^6 #100 and 110. Value in one but not the other is 10. 10 represents 2. Output is 2

2

In [163]:
#other data structures that are useful can be found in the collections module. 

#collections.namedtuple ( Like a tuple, but each value has a name)
#collections.defaultdict (Like a dictionary, but unspecified keys have a user-specified default value)
#collections.OrderedDict (dictionary with order)

NameError: name 'collections' is not defined

In [164]:
###Control Flow

x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative
2 3 5 7

In [165]:
#For Loop: to repeatedly executions of code. 

for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line
#output is 2 3 5 7

2 3 5 7

In [166]:
for i in range(10):
    print(i, end=' ') #Output is 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [167]:
#Comparison: this prints the values in a vertical list
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [168]:
#Comparison: this prints the values with a q in between them all in one line. 
for i in range(10):
    print(i,end="q") 
    
#Output is 0q1q2q3q4q5q6q7q8q9q

0q1q2q3q4q5q6q7q8q9q

In [169]:
# range from 0 to 10 by 2
list(range(0, 10, 2)) #Output is [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [170]:
#WHILE LOOPS: iterates until a certain condition is met

i = 0
while i < 10:
    print(i, end=' ')
    i += 1
#Output is 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [171]:
#Using break and continue:

for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

#output is 1 3 5 7 9 11 13 15 17 19. If the number is divisible by 2, then it is not included. We continue to the next value.

1 3 5 7 9 11 13 15 17 19

In [173]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L) #This does the Fibonacci sequence until the next value is >100. If a>100, the sequence breaks.

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [174]:
L = []
nmax = 30

for n in range(2, nmax): #start at 2, go until 30. 
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L) 

#output is [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [176]:
###Functions

#print is a function
print('abc')
type(print) #builtin_function_or_method

abc

builtin_function_or_method

In [177]:
print(1, 2, 3)

1 2 3

In [178]:
print(1, 2, 3, sep='--')

1--2--3

In [179]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [180]:
fibonacci(10) #output is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]. First 10 of Fibonacci

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [181]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c) #output is 3.0 4.0 (3-4j)

3.0 4.0 (3-4j)

In [182]:
#define the starting values in the function inputs, rather than setting them aside within the function. 
#this idea is using "default values" as arguments

def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [183]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [184]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [185]:
fibonacci(10, b=3, a=1) #note that the order does not matter. Sequence itself starts at 1, but the output is,3,4,7 etc. 
#Final Output is: [3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

In [187]:
#args is simply a variable name; the important part is the *. args is arguments; a typical choice. 
#* expands this as a sequence. 
#note the **; this passes a second set of arguments. kwargs is key arguments. 
#** expands the argument as a dictionary. 

def catch_all(*args, **kwargs): #if you want to pass multiple arguments in a function, without knowing the exact number. 
    print("args =", args)  
    print("kwargs = ", kwargs)

In [188]:
catch_all(1, 2, 3, a=4, b=5)
#args = (1, 2, 3)
#kwargs =  {'a': 4, 'b': 5}

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [189]:
inputs = (1, 2, 3)
keywords = {'pi': 3.14}
catch_all(*inputs, **keywords)

args = (1, 2, 3)
kwargs =  {'pi': 3.14}

In [192]:
catch_all(1, 2, 3,a=4,b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [193]:
#Lambda functions: a one off defining function

add = lambda x, y: x + y
add(1, 2)

3

In [194]:
add(2,3)

5

In [195]:
#equivalently, the lambda function can be written as: 


def add(x,y): 
    return x + y

In [196]:
#Why is the Lambda function useful? 
#Everything is an object in Python. Lists are mutable and can be sorted. 
#sorted([2,4,3,5,1,6]) #output is [1, 2, 3, 4, 5, 6]

#dictionaries 
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [197]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [198]:
# sort by their Year of Birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [199]:
###Errors and Exceptions: Three types: Syntax, Runtime, Semantics

#The focus of this chapter is on Runtime errors: 

print(Q) #gives an error. Specifically a NameError because Q is not defined.

NameError: name 'Q' is not defined

In [200]:
1 + 'abc' #TypeError. Can't add a string with an int.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [201]:
2 / 0 #ZeroDivisionError. Exactly as it sounds: you cannot divide by 0.

ZeroDivisionError: division by zero

In [202]:
L=[1,2,3]
L[1000] #Index Error. There is no indexed value in that list.

IndexError: list index out of range

In [203]:
try:
    print("this gets executed first")
except:
    print("this gets executed only if there is an error") #executes fine because there's no error to worry about.

this gets executed first

In [204]:
try:
    print("let's try something:")
    x = 1 / 0 # ZeroDivisionError
except:
    print("something bad happened!") #here the division error forces the second clause to activate. 

#output is: 

#let's try something:
#something bad happened!

let's try something:
something bad happened!

In [205]:
def safe_divide(a, b):
    try:
        return a / b
    except:
        return 1E100

In [206]:
safe_divide(1,2)

0.5

In [207]:
safe_divide(2, 0)

1e+100

In [208]:
safe_divide (1, '2') #yields the same error as dividing by 0. How can we specify this?

1e+100

In [209]:
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return 1E100

In [210]:
safe_divide(2, 0)

1e+100

In [211]:
safe_divide (1, '2') #now specifies that this will be a TypeError

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [212]:
raise RuntimeError("my error message")

RuntimeError: my error message

In [213]:
raise RuntimeError #no output/message.

RuntimeError:

In [214]:
#can be useful to explain why an error was encountered. It "raises" a fair point.

def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [215]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [216]:
fibonacci(-10) #output is an empty list, but we don't exactly know why.

[]

In [217]:
N = -10 #can't be debugged in its current state
try:
    print("trying this...")
    print(fibonacci(N))
except ValueError:
    print("Bad value: need to do something else")

trying this...
[]

In [218]:
#Now let's try adding a RuntimeError message

def fibonacci(N):
    if N <0:
        raise ValueError("N must be non-negative")
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [219]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [220]:
fibonacci(-10) #and voila; the error message explains what's wrong with the function.

ValueError: N must be non-negative

In [221]:
N = -10
try:
    print("trying this...")
    print(fibonacci(N))
except ValueError:
    print("Bad value: need to do something else")

trying this...
Bad value: need to do something else

In [222]:
#You can access the error message with an "as"
try:
    x = 1 / 0
except ZeroDivisionError as err:
    print("Error class is:  ", type(err))
    print("Error message is:", err)

Error class is:   <class 'ZeroDivisionError'>
Error message is: division by zero

In [223]:
class MySpecialError(ValueError):
    pass

raise MySpecialError("here's the message") #catches the error due to class inheritance.

MySpecialError: here's the message

In [224]:
try:
    print("do something")
    raise MySpecialError("[informative error message here]")
except MySpecialError:
    print("do something else")

do something
do something else

In [225]:
try:
    print("try something here")
except:
    print("this happens only if it fails")
else:
    print("this happens only if it succeeds")
finally:
    print("this happens no matter what")

try something here
this happens only if it succeeds
this happens no matter what